<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div class="all-task" ng-controller="myCtrl">
        <h2>To Do List</h2>
        <div class="input">
            <input ng-model="item" type="text" autocomplete="off" placeholder="Add New Task" class="task-input">
            <button ng-click="submitItem()" class="submit-task" type="submit">Submit</button>
        </div>
        <div class="list">
            <div class="one-item" ng-repeat="i in arrItem track by $index">
                <div class="check-list">
                    <input type="checkbox" name="" id="">
                    <p class="name">{{ i.name }} </p>
                </div>
                <button class="btn-danger" ng-click="deleteItem(i.id)">Delete</button>
            </div>
        </div>
    </div>
    <script src="./app.js"></script>
</body>

</html>